[Unit]
Description=Gunicorn instance to serve the project
After=network.target

[Service]
User=app
Group=www-data

WorkingDirectory=/home/app/projectdatabases/project/backend
Environment="PATH=/home/app/projectdatabases/project/backend/vennv/bin"

ExecStart=/home/app/projectdatabases/project/backend/vennv/bin/gunicorn \
  --workers 3 \
  --bind unix:/home/app/projectdatabases/project/backend/webapp.sock \
  -m 007 \
  wsgi:app

[Install]
WantedBy=multi-user.target
